<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%= csrf_meta_tag %>
<meta content="all" name="robots" />
<link rel="stylesheet" type="text/css" media="all" href="http://192.168.1.107:8090/lezipu/css/framework/basic.css">
<link rel="stylesheet" type="text/css" media="all" href="http://192.168.1.107:8090/lezipu/css/framework/component.css">
</head>
<body>
<%= yield %>
</body>
</html>
