<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta content="all" name="robots" />
 <title>乐子铺 抢店铺，得优惠！</title>
   <%= stylesheet_link_tag "framework/basic","framework/component" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container">
	<div id="header">
		<div class="header_content">
			<div class="logo"><a href="www.lezipu.com"><img src="../images/lezipu_logo.gif" /></a></div>
			<div id="main_nav">
			<ul>
				<li><a href="www.lezipu.com">首&nbsp;页</a></li>
				<li><a href="www.lezipu.com/shophome/">店&nbsp;铺</a></li>
				<li><a href="www.lezipu.com/quanzizhongduan/20100122000000011536">常见讨论</a></li>
			</ul>
			</div>
			
			</div>
			<div class="c_b"></div>
		</div>
		</div>


<%= yield %>
</div>
</body>
</html>
